* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    height: 100vh;
}


/* NAVIGATION START */

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 83px;
    background-color: #131313;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11px;
    align-items: center; 
}

.start {
    color: #E3B873;
    text-transform: uppercase;
    cursor: pointer;
}

.center ul li {
    padding-left: 20px;
    list-style: none;
}

.center ul li a {
    color: #ffffff;
    text-decoration: none;
}

body header .navigation .center ul li #home {
    color: #E3B873;
}

.end {
    cursor: pointer;
}

ul {
    display: flex;
    align-items: center;
}
.end ul li {
    list-style-type: none;
    color: #ffffff;
}

.button {
    padding: 10.5px 17px;
    background-color: #E3B873;
    color: #ffffff;
    border-radius: 3px;
    margin-left: 20px;
    text-transform: uppercase;
    text-decoration: none;
}
.end ul {
    width: fit-content;
}

.end a {
    color: #E3B873;
}

/* NAVIGATION END */

/* TEXT BLOCK START*/
.title {
    min-width: 13em;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.title>span {
    color: #E3B873;
}

.desc {
    position: absolute;
    height: fit-content;
    top: 20%;
    left: 9.31%;
    right: 43.74%;
    bottom: 20%;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
}

.text{
    margin: 20px 0px;
    display: flex;
    max-width: 504px;
}

/* TEXT BLOCK END */

/* IMG STUFF START*/

.main_block {
    position: relative;
    background-color: rgba(0, 0, 0, 0.682);
    background-image: url(img/main-cover.png);
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    min-width: 100vw;
    min-height: 100vh;
}

/* IMG STUFF END */



/* BUTTON STUFF START*/
.button1, .button2 {
    display: flex;
    align-items: center;
    background: #E3B873;
    border-radius: 2px;
    text-align: center;
    justify-content: center;
}

.buttons {
    display: flex;
}

.btn_cnfg {
    line-height: 15px;
    font-weight: 400;
    Width: 207px;
    Height: 51px;
}

.button1 {
    margin-right: 20px;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
}

.button2 {
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    background: none;
}

.buttons>a {
    line-height: 15px;
    text-decoration: none;
    color: #FFFFFF;
    margin-top: 20px;
}

.txt_style {
    font-family: 'Nunito Sans';
    font-style: italic;  
    font-size: 11px;
}

/* BUTTON STUFF END */



/*---------------------------------------------------------- STEP 2 */

.nav {
    display: flex;
    position: relative;
}

.city {
    list-style: none;
    
}