 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 .header_nav {
     width: 100%;
     background-color: #131313;
 }

 .header_nav .header_content {
     display: flex;
     max-width: 1440px;
     height: 85px;
     margin: 0px auto;
     align-items: center;
     justify-content: space-between;
     color: aliceblue;
 }

 .header_nav li{
     list-style: none;
     display: inline;
     margin-left: 50px;
 }

 .nav_of_second_section{
     display: flex;
     width: inherit;
     position: relative;
     right: 5em;
     justify-content: flex-end;
     padding-right: 2em;
     top: 4em;
 }

 .nav_of_second_section li{
     color: aliceblue;
     list-style-type: none;
     display: inline;
     padding-right: 3em;
     font-style: normal;
     text-transform: uppercase;
     color: rgba(240, 248, 255, 0.183);
 }

 .logo {
     color:#E3B873;
     text-transform: uppercase;
 }

 .mid_nav li:first-of-type {
    color:#E3B873;
 }

 .end_nav li:first-of-type {
     color: #E3B873;
 }

.gold-button {
    color: aliceblue;
    background-color: #E3B873;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
 }

 .dick {
    max-width: 250px;
    padding: 20px 40px;
 }

 .first_step {
     background: rgba(0, 0, 0, 0.7) url("img/main-cover.png");
     background-blend-mode: darken;
     width: 100vw;
     height: 100vh;
     background-size: cover;
 }

 .second_step, .third_step, .fourth_step {
     background-color: #131313;
     width: 100vw;
     height: 100vh;
 }

 .second_step {
    height: 80vh;
 }

.fourth_step {
    background-color: #fff;
    height: auto;
}

 .first_step .content_of_first_section {
     max-width: 1440px;
     margin: auto;
     display: flex;
     align-items: center;
     height: inherit;
     padding-left: 30px;
 }

 .content_of_second_section, .content_of_third_section, .content_of_fourth_section {
    max-width: 1440px;
    margin: auto;
    padding-top: 5rem;
    position: relative;
    padding-left: 30px;
 }

 .content_of_third_section {
     height: auto;   
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .background_of_third_step {
    background-image:linear-gradient(to bottom, 
    #131313 0%,
    #131313 45%,
    #fff 45%,
    #fff 100%
    );
 }

 .content_of_fourth_section {
     margin-top: 45em;
 }

 .content_text {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     max-width: 500px;
     height: 150px;
     color: aliceblue;
 }

.gold-text {
     color: #E3B873;
 }

 .common-font {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    font-family: 'Nunito Sans', sans-serif;
    color: aliceblue;
 }

 .black_text {
    color: black;
    font-style: normal;
}   

 .header-text {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 37px;
    text-transform: uppercase;
 }

 .buttons {
    padding: 25px 0;
    display: flex;
    max-width: 28em;
    justify-content: space-between;
}

 .opacity-button {
        max-width: 249px;
        border-color: white;
        border-radius: 5px;
        color: aliceblue;
        border-style: solid;
        border-width: 2px;
        padding: 11px;
        background-color: #f0f8ff00;
    }
 
.Completed_projects {
    height: 20em;
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 30em;
}

.discription {
    color: aliceblue;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 100px;
    max-width: 25em;
    line-height: 26.73px;
}

.discription h3 {
    color: #E3B873;
    font-style: normal;
    text-transform: uppercase;
}

.column1, .column2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10em;
}

.slider {
    position: absolute;
    right: 5em;
}

.nav_of_second_section  {
    left: 2.4em;
    position: relative;
    font-size: medium;
    top: 1em;
}

.nav_of_second_section ul li:first-of-type {
    color: #E3B873;
    border-bottom: #E3B873;
    border-bottom-width: 2em;
}

.line {
    border-bottom-style: solid;
    border-color: #E3B873;
    padding-bottom: 0.7em;
    border-width: 1.5px;
}

.slider_arrows {
    position: relative;
    top: 5em;
}

.about_camera {
    max-width: 30%;
}

.hate {
    width: inherit;
    display: flex;
    justify-content: center;
    margin: 0.1em 0 2em;
}

.player {
    position: relative;
    width: 50%;
}

.repair_img {
    margin: 3em auto;
    width: 100%;
    height: auto;
    filter: brightness(50%);
}

.player_button {
    position: absolute;
    top: 35%;
    left: 40%;
}

.content_of_third_section p {
    text-align: center;
}

.form {
    height: 50px;
}

.form {
    display: flex;
    margin: 5em auto;
    width: 60%;
    flex-direction: row;
    justify-content: space-evenly;
}

.first_input .second_input {
    margin-right: 2em;
}

  input[type=text] {
    width: 100%;
    padding: 4px 0px;
    margin: 1px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
  }

  label {
    color: #00000040
  }

  ::placeholder {
    color: rgb(0, 0, 0);
    opacity: 1;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    font-family: 'Nunito Sans', sans-serif;
  }

  .form_button {
      border-radius: 2px;
      padding: 1em 4em;
  }

  .checkbox {
      display: flex;
      max-width: inherit;
      justify-content: center;
  }

    .checkbox p {
        padding: 0 0.5em;
    }

    .header_of_fourth_section {
        display: flex;
        height: 6em;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
            margin-top: 10em;
    }

    .content_of_fourth_section {
        max-width: 1440px;
        margin: auto;
        padding-top: 5rem;
        position: relative;
        padding-left: 30px;
     }

    .gallery {
        display: flex;
        margin-top: 3em;
        flex-direction: row;
        justify-content: space-around;
    }

    .gallery_item1 {
        position: relative;
    }

    .desc1 {
        max-width: 23em;
        height: 20em;
        display: flex;
        position: relative;
        flex-direction: column;
        background-color: #fff;
        padding: 1em 4em;
        top: -11em;
        left: 1.5em;
        justify-content: flex-start;
        box-shadow: 1px 1px 30px #1313130d;
    }

    .redecorating {
        position: relative;
        font-size: medium;
        right: 1em;
        text-transform: capitalize;
    }

    .desc1 ul li {
        line-height: 2em;
        color: #13131341;
    }

    .btn_desc1 {
        margin-bottom: 5px;
        padding: 10px 17px;
        left: 0;
        position: absolute;
        bottom: -2em;
        border-radius: 0%;
        font-size: medium;
    }