 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 .header_nav {
     width: 100%;
     background-color: #131313;
 }

 .header_nav .header_content {
     display: flex;
     max-width: 1440px;
     height: 85px;
     margin: 0px auto;
     align-items: center;
     justify-content: space-between;
     color: aliceblue;
 }

 .header_nav li{
     list-style: none;
     display: inline;
     margin-left: 50px;
 }

 .nav_of_second_section{
     display: flex;
     width: inherit;
     margin-right: 8em;
     justify-content: flex-end;
     padding-right: 4.5em;
 }

 .nav_of_second_section li{
     color: aliceblue;
     list-style-type: none;
     display: inline;
     padding-right: 3em;
 }

 .logo {
     color:#E3B873;
     text-transform: uppercase;
 }

 .mid_nav li:first-of-type {
    color:#E3B873;
 }

 .end_nav li:first-of-type {
     color: #E3B873;
 }

.gold-button {
    color: aliceblue;
    background-color: #E3B873;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
 }

 .dick {
    max-width: 250px;
    padding: 20px 40px;
 }

 .first_step {
     background: rgba(0, 0, 0, 0.7) url("img/main-cover.png");
     background-blend-mode: darken;
     width: 100vw;
     height: 100vh;
     background-size: cover;
 }

 .second_step{
     background-color: #131313;
     width: 100vw;
     height: 100vh;
 }

 .first_step .content_of_first_section {
     max-width: 1440px;
     margin: auto;
     display: flex;
     align-items: center;
     height: inherit;
     padding-left: 30px;
 }

 .content_of_second_section {
    max-width: 1440px;
    margin: auto;
    padding-top: 5rem;
    position: relative;
    padding-left: 30px;
 }

 .content_text {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     max-width: 500px;
     height: 150px;
     color: aliceblue;
 }

.gold-text {
     color: #E3B873;
 }

 .common-font {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    font-family: 'Nunito Sans', sans-serif;
    color: aliceblue;
 }

 .header-text {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 37px;
    text-transform: uppercase;
 }

 .buttons {
    padding: 25px 0;
    display: flex;
    max-width: 28em;
    justify-content: space-between;
}

 .opacity-button {
        max-width: 249px;
        border-color: white;
        border-radius: 5px;
        color: aliceblue;
        border-style: solid;
        border-width: 2px;
        padding: 11px;
        background-color: #f0f8ff00;
    }
 
.Completed_projects {
    height: 20em;
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 30em;
}

.discription {
    color: aliceblue;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 100px;
    max-width: 25em;
    line-height: 26.73px;
}

.discription h3 {
    color: #E3B873;
    font-style: normal;
    text-transform: uppercase;
}

.column1, .column2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10em;
}

.slider {
    position: absolute;
    right: 5em;
}

